.root {
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        @media (max-width: 520px) {
            flex-direction: column-reverse;
            align-items: start;
            row-gap: 10px;
        }
    }
}
